a {
	color: #fff;
}

#jumboLead {
	background-color: #000;
}

#imgJumbo {
	width: 100px;
	height: 100px;
	text-align: center;
}

h3 {
	display: inline-block;

}

p {
	color: #fff;
}

.cnet {
	text-align: center;
}

.jumbotron{
	background-color: #000;
}

h4 {
	color: #fff;
}